In [17]:
import pandas as pd

# import data
ad = pd.read_csv('./data_ad_all.csv', sep=',', encoding='utf-8', header=None)
no_ad = pd.read_csv('./data_non_ad_all.csv', sep=',', encoding='utf-8', header=None)

ad.head()

    0                                                  1
0  AD  힙하다 힙해!부산 버거샵이 압구정로데오로 ~!핫하다 핫해! 오늘은 압구정로데오 맛집...
1  AD  흥안양꼬치051-516-1181부산 금정구 수림로71번길 49(장전동)50m© NA...
2  AD  훗안녕하세요!! 제가 좋아하는 꼬기 꼬기 먹고왔어요!전 웬만하면 고기 퀄리티 때문에...
3  AD  회장님댁오랜만에 서면 1번가에서친구랑 놀다 왔어용 :)역시 하루의 마무리는 alco...
4  AD  회사 점심이 맛이 없어서밖에서 나가서 먹기로 결정!강서브라이트센터 길 건너에 골목 ...

In [18]:
# split data
X_ad = ad[1]
y_ad = ad[0]
X_no_ad = no_ad[1]
y_no_ad = no_ad[0]

X_ad.head()

0    힙하다 힙해!부산 버거샵이 압구정로데오로 ~!핫하다 핫해! 오늘은 압구정로데오 맛집...
1    흥안양꼬치051-516-1181부산 금정구 수림로71번길 49(장전동)50m© NA...
2    훗안녕하세요!! 제가 좋아하는 꼬기 꼬기 먹고왔어요!전 웬만하면 고기 퀄리티 때문에...
3    회장님댁오랜만에 서면 1번가에서친구랑 놀다 왔어용 :)역시 하루의 마무리는 alco...
4    회사 점심이 맛이 없어서밖에서 나가서 먹기로 결정!강서브라이트센터 길 건너에 골목 ...
Name: 1, dtype: object

In [20]:
from sklearn.model_selection import train_test_split

# 데이터 분리 
X_ad_train, X_ad_test, y_ad_train, y_ad_test = train_test_split(X_ad, y_ad, test_size=0.3, shuffle=True, random_state=1)
X_no_ad_train, X_no_ad_test, y_no_ad_train, y_no_ad_test = train_test_split(X_no_ad, y_no_ad, test_size=0.3, shuffle=True, random_state=1)

In [21]:
X_train = pd.concat([X_ad_train, X_no_ad_train])
X_test = pd.concat([X_ad_test, X_no_ad_test])
y_train = pd.concat([y_ad_train, y_no_ad_train])
y_test = pd.concat([y_ad_test, y_no_ad_test])
print(X_train.head())
print(X_train.shape)

9638    여러분!제가 처음으로 스티커를 사보았습니다. 오늘의 포스팅은 신나는 마음에 스티커를...
3424    남자친구랑 경주로 놀러갔다가발견한 맛집!!!!!!!밀면과 만두의 조합이끝내주는 곳으...
1227    본강남면옥 인천 남동구 남동대로 799번길 44 1층 인천시청역 5번출구에서 650...
1079    안녕하세요, 킹새댁입니다👑고기가 땡기는데 남편혹은 연인과분위기도 즐기고 싶은 그런 ...
3842    오늘은 오랜만에 홍대 데이트~홍대에 건강하고 맛있는 디저트를 만드는 카페가 있다고 ...
Name: 1, dtype: object
(16305,)

In [23]:
X_test, X_test_real, y_test, y_test_real = train_test_split(X_test, y_test, test_size=0.33, shuffle=True, random_state=1)
print(X_test.shape)
print(X_test_real.shape)

(1365,)
(673,)

In [24]:
train_data = pd.concat([y_train, X_train], axis=1)
test_data = pd.concat([y_test, X_test], axis=1)
real_test_data = pd.concat([y_test_real, X_test_real], axis=1)

print(train_data.head())
print(test_data.head())
print(train_data.shape)
print(test_data.shape)

       0                                                  1
9638  AD  여러분!제가 처음으로 스티커를 사보았습니다. 오늘의 포스팅은 신나는 마음에 스티커를...
3424  AD  남자친구랑 경주로 놀러갔다가발견한 맛집!!!!!!!밀면과 만두의 조합이끝내주는 곳으...
1227  AD  본강남면옥 인천 남동구 남동대로 799번길 44 1층 인천시청역 5번출구에서 650...
1079  AD  안녕하세요, 킹새댁입니다👑고기가 땡기는데 남편혹은 연인과분위기도 즐기고 싶은 그런 ...
3842  AD  오늘은 오랜만에 홍대 데이트~홍대에 건강하고 맛있는 디저트를 만드는 카페가 있다고 ...
          0                                                  1
1571     AD  코다리조림 ... 맛있겠죠? 맛있겠죠??적당히 매콤한 맛이 일품 !코다리 자체도 맛...
5231     AD  경기도로 이사오고 가장 먼저 들른 곳이 롯데월드 잠실점이예요. 근처 맛있는 베트남식...
1124     AD  안녕하세요 죠니입니다! 여러븐....제가 #강남소고기 #강남소고기맛집 을 여러군데를...
7449     AD  요즘 코로나 때문에 모두들 힘드시죠?이럴때일수록 잘 챙겨먹어야 하는데요맛있는것좀 먹...
2680  NO_AD  경남 남해군 창선면 동부대로 1946매일 09:00 - 21:00055  867 4...
(16305, 2)
(1365, 2)

In [25]:
from konlpy.tag import Mecab
import re

mecab = Mecab()

def mecab_tokenize(text):
    """
        Mecab을 사용하여 tokenized text 반환
    """
    return " ".join(mecab.morphs(text))

def clean_etc_reg_ex(title):
    """
        정규식을 통해 기타 공백과 기호, 숫자등을 제거
    """
    title = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"]', '', title) #remove punctuation
    title = re.sub(r'[∼%①②⑤⑪…→·]', '', title)
    title = re.sub(r'\d+', '', title) #remove number
    title = re.sub(r'\s+', ' ', title) #remove extra space
    title = re.sub(r'<[^>]+>','',title) #remove Html tags
    title = re.sub(r'\s+', ' ', title) #remove spaces
    title = re.sub(r"^\s+", '', title) #remove space from start
    title = re.sub(r'\s+$', '', title) #remove space from the end
    title = re.sub("[一-龥]",'', title)
    return title

def label_to_idx(label, dic):
    return dic[label]

In [26]:
# 특수기호 제거
train_data[1] = train_data[1].apply(str).apply(clean_etc_reg_ex)
test_data[1] = test_data[1].apply(str).apply(clean_etc_reg_ex)
real_test_data[1] = real_test_data[1].apply(str).apply(clean_etc_reg_ex)

# label to idx
train_data[0] = train_data[0].apply(label_to_idx, dic={"AD":"1", "NO_AD":"0"})
test_data[0] = test_data[0].apply(label_to_idx, dic={"AD":"1", "NO_AD":"0"})
real_test_data[0] = real_test_data[0].apply(label_to_idx, dic={"AD":"1", "NO_AD":"0"})

test_data.head()

train_data.to_csv('train.clean.tsv', sep='\t', encoding='utf-8', index=False, header=None)
test_data.to_csv('test.clean.tsv', sep='\t', encoding='utf-8', index=False, header=None)
test_data.to_csv('real_test.clean.tsv', sep='\t', encoding='utf-8', index=False, header=None)

In [27]:
# mecab tokenize

train_data[1] = train_data[1].apply(str).apply(mecab_tokenize)
test_data[1] = test_data[1].apply(str).apply(mecab_tokenize)

test_data.head()

train_data.to_csv('train.clean.tok.tsv', sep='\t', encoding='utf-8', index=False, header=None)
test_data.to_csv('test.clean.tok.tsv', sep='\t', encoding='utf-8', index=False, header=None)